html
    head
        title Deus' Cubing Algorithms
        script(src='main.js')
body
    h1 Deus' Cubing Algorithms
    p This page will show the algorithms I use and teach to solve twisty puzzles?

