extends layout.pug

block content
    .content.container
        p This page shows the algorithms I #[a(href='speed_cubing.html') use] and #[a(href='beginner.html') teach] to solve twisty puzzles. More infos can be found here at #[a(href='https://speedcube.de') speedcube.de], especially the #[a(href='https://speedcube.de/notation.php') notation].
        .row
            include partials/indexCard.pug
            +index_card(
                'Beginner',
                'The algorithms I teach.',
                'https://github.com/Daniel-Amadeus/cubing-algorithms'
                + '/raw/master/docs/img/beginner_thumbnail.png',
                'beginner.html'
            )
            +index_card(
                'Speed Cubing',
                'The algorithms I use.',
                'https://github.com/Daniel-Amadeus/cubing-algorithms'
                + '/raw/master/docs/img/speed-cubing_thumbnail.png',
                'speed_cubing.html'
            )
