extends layout.pug

block content
    #specials.content.container
        p Here you can practice the algorithms.
        #practice.row
            .col-md-4
                h4 algorithm
                .row.p-3
                    #cube.cubeVis
                        include partials/cubeAnnotation.pug
                    p#algorithmLabel.my-auto.mx-1.col
            .col-md-4
                h4 result
                .row.p-3
                    #resultCube.cubeVis
                        include partials/cubeAnnotation.pug
            #practiceControls.col-md-4
