.card-thumbnail {
    object-fit: cover;
}

.cubeVis {
    --size: 150px;
    width: var(--size);
    height: var(--size);
    display: grid;
    gap: 1%;
    background-color: rgb(37, 37, 37);
    filter: saturate(80%);
    border-radius: 5px;
}

.cubeFace{
    background-color: transparent;
    border-radius: 3px;
}

.oll {
    /* filter: saturate(0%); */
}

.cubeAnnotation {
    z-index: 1;
    grid-column: 1/-1;
    grid-row: 1/-1;
}

.cubeFace.yellow {
    filter: none;
    background-color: yellow;
}

.cubeFace.white {
    background-color: white;
}

.cubeFace.blue {
    background-color: blue;
}

.cubeFace.green {
    background-color: green;
}

.cubeFace.red {
    background-color: red;
}

.cubeFace.orange {
    background-color: orange;
}