

.cubeVis {
    --faceWidth: 30px;
    --sideWidth: 15px;
    display: grid;
    grid-template-columns:
        var(--sideWidth)
        var(--faceWidth)
        var(--faceWidth)
        var(--faceWidth)
        var(--sideWidth);
    grid-template-rows:
        var(--sideWidth)
        var(--faceWidth)
        var(--faceWidth)
        var(--faceWidth)
        var(--sideWidth);
    gap: 2px;
    background-color: rgb(37, 37, 37);
}

.cubeFace{
    background-color: transparent;
}

.oll {
    filter: saturate(0%);
}

.cubeFace.yellow {
    filter: none;
    background-color: yellow;
}

.cubeFace.white {
    background-color: white;
}

.cubeFace.blue {
    background-color: blue;
}

.cubeFace.green {
    background-color: green;
}

.cubeFace.red {
    background-color: red;
}

.cubeFace.orange {
    background-color: orange;
}