title Deus' Cubing Algorithms
meta(name='viewport' content='width=device-width, initial-scale=1')
link(rel='stylesheet' type='text/css' href='css/style.css')
link(rel='icon' href='img/cube.svg' sizes='any' type='image/svg+xml')
script(src='main.js')
