nav.navbar.navbar-expand-lg.fixed-top.navbar-dark.bg-dark
    .container
        a.navbar-brand(href='index.html') Deus' Cubing Algorithms
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
                li.nav-item
                    a.nav-link(href='index.html') Home
                li.nav-item
                    a.nav-link(href='beginner.html') Beginner
                li.nav-item
                    a.nav-link(href='speed_cubing.html') Speed Cubing
.py-5