nav.navbar.navbar-expand-md.fixed-top.navbar-dark.bg-dark
    .container
        a.navbar-brand(href='index.html')
            img.d-inline-block.align-top.pr-1(src=require('../../img/cube.svg') width='30' height='30')
            | Deus' Cubing Algorithms
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse.flex-grow-1.text-right
            ul.navbar-nav.ml-auto
                li.nav-item
                    a.nav-link(href='index.html') Home
                li.nav-item
                    a.nav-link(href='beginner.html') Beginner
                li.nav-item
                    a.nav-link(href='speed_cubing.html') Speed Cubing
                li.nav-item
                    a.nav-link(href='more.html') More
                li.nav-item
                    a.nav-link(href='practice.html') Practice
.py-5
