.btn-group.btn-group-toggle(data-toggle='buttons')
    label.btn.btn-secondary.active #[input#button2d(type='radio' name='visualisation' autocomplete="off" checked)] 2D
    label.btn.btn-secondary #[input#button3d(type='radio' name='visualisation' autocomplete="off")] 3D